#gl {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin:auto;
  width:70%;
  height:70%;
}
#ui {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width:90%;
  height:90%;
  z-index: 10;
}

canvas {
  display: inline;
}